body {
  background-color: white;
}
.topHeader {
  width: 100%;
  height: 165px;
  background-color:white;
  text-align: center;

}
.logoPic {
}
.headerMenu {
  background-color: #92dce0;
  width:100%;
  display: flex;
  justify-content: space-between;


}
.menuBut {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 18%;
  height: 50px;
  border-radius: 10px;
  color:black;
  margin: 10px;
  font-family: cursive;


}
.homeBack {
  background-color:#0092d7;
  height: 1000px;
  text-align: center;
}
.scrollPic {
  margin-top: 25px;
  height: 500px;
  width: 90%;
  border-style:solid;
  margin-top: 10px;

}
.menuBack {
  background: url('../img/background-food.jpg');
  background-position:center;
  background-size: cover;
  background-color: #92dce0;
  height: 135vh;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
.header {
  font-weight: bold;
  font-size: 5vh;
  font-family: cursive;
}
.locationBack {
  background: url('../img/blue-sky.jpg');
  background-position:center;
  background-size: cover;
  background-color: #ee8d09;
  height: 135vh;
  border-radius: 10px;
}
.listHolder {
  width: 50%;
  text-align:center;
  height: 90%;
  padding-top: 20px;
  position: relative;
  background-color: none;
}
.locLi {
  width:70%;
  background-color: #3ec303;
  text-align:left;
  position:absolute;
  left:70px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  padding-right: 25px;

}
.menuLi {
  overflow-y: scroll;
  height:90%;
  margin: auto;
  width:70%;
  background-color: #3ec303;
  text-align:left;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  padding-right: 25px;
}
.dinPic {
  height: 150px;
  width: 180px;
  border-style:solid;
  float: right;
  margin-top: 10px;

}

#class2 {
  font-size: 3vh;
  margin-top: 20px;
  font-family: cursive;
  list-style-type: none;
  height: 200px;
  border-bottom: solid;
  border-bottom-width: thin;
  width:80%;
  margin: auto;
}

#class {
  font-size: 3vh;
  margin-top: 15px;
  font-family: cursive;
  list-style-type: none;
  border-bottom: solid;
  border-bottom-width: thin;


}
#descr {
  font-size: 2vh;
}
#map {
  width: 500px;
  height: 400px;
  float: right;
  margin-top: 70px;
  margin-right: 70px;
  border-radius: 10px;
  border-style: solid;
}
#picBox {
 width:500px;
 height:400px;
 background-color: black;
 float:right;
 margin-top:50px;
 margin-left: 500px;
 margin-right: 70px;
 border-radius:10px;
 border-style: solid;
}
.locPic {
  height:400px;
  width:500px;
  border-radius: 5px;
  z-index: 2;
}
.sidepic {
  height:100px;
  margin-bottom:33px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
